<span nz-icon nzType="unordered-list" nzTheme="outline" class="logo" [routerLink]="['/']" (mouseenter)="openMenu()" *ngIf="showMenuIcon | async as show;"></span>
<span nz-icon nzType="cloud-server" nzTheme="outline" style="font-size: 24px; color: #00a1ff; margin-right: 10px;" [routerLink]="['/']"></span>

<span style="color: #3e94ff; cursor: pointer; margin-top: 2px;">
    <span style="font-size: 18px; font-weight: 500;" [routerLink]="['/']">阿里云ECS可观测平台</span>
</span>

<span style="flex-grow: 1;"></span>

<div class="right-photo">
  <span (click)="settingOpen()" nz-icon [nzType]="'setting'" [nzTheme]="'twotone'"></span>
</div>

