<div class="left-panel">
  <div style="padding: 16px;">
    <span nz-icon nzTheme="outline" nzType="cloud-server" style="font-size: 18px; color: #00a1ff;"></span>
    <span style="font-size: 14px; color: #0082ff; margin-left: 5px;">阿里云ECS可观测平台</span>
  </div>
  <ul>
    <ng-container *ngFor="let item of menuData; index as index;">
      <ng-container *ngIf="item.isLeaf; else emptyMenuTemplate">
        <li (click)="linkToPageByParentPage(item, index)" [ngClass]="{active: isActiveUrl(item.path) }">
          <ng-container
            *ngTemplateOutlet="menuItemTemplate; context: { title: item.title, type: item.iconType || 'dashboard', index: index}"></ng-container>
        </li>
      </ng-container>
    </ng-container>
  </ul>
</div>

<ng-template #emptyMenuTemplate>
  <nz-empty [nzNotFoundContent]="notChildMenuTemplate" nzNotFoundImage="simple" style="margin-top: 60px;"></nz-empty>
  <ng-template #notChildMenuTemplate>
    <span style="color: #bababa;">没有发现子菜单</span>
  </ng-template>
</ng-template>

<ng-template #menuItemTemplate let-index="index" let-title="title" let-type="type">
    <span>
        <span [nzType]="type" nz-icon nzTheme="outline" style="color: #3561bb;font-size: 16px"></span>
        <span style="margin-left: 11px;">{{ title }}</span>
    </span>
</ng-template>
